/* red - #4D161B  */
/* tan - #D7BDA0  */
/* ltan- #FCE8D2  */
/* blue- #2E2F39  */

body {
  background-color: #FCE8D2;
}

#wager {
  display: inline;
  float: right;
  position: relative;
  left: 400%;
  margin-top: 10px;
}

#new_game_page {
  padding-top: 125px;
  text-align: center;
}

#new_game_page h1 {
  margin-bottom: 45px;
  color: #4D161B;
}

.navbar-inner {
  background-color: #4D161B;
  background-image: none;
  background-repeat: no-repeat;
}

.nav li a {
  color: #FCE8D2;

}
