<div id="new_game_page">
  <h1>And you're name is...</h1>

  <form action='/new_game' method='post'>
    <input type='text' name='player_name'/>
    <br/>
    <input type='submit' class='btn' />
  </form>
</div>